In [3]:
# SELECT Query example to fetch rows

import mysql.connector
from mysql.connector import Error

try:
    connection = mysql.connector.connect(user='newuser', password='password',
                                            host='127.0.0.1',
                                          database='testdb')
    sql_select_Query = "select * from Laptop"
    cursor = connection.cursor()
    cursor.execute(sql_select_Query)
    records = cursor.fetchall()
    print("Total number of rows in Laptop is: ", cursor.rowcount)

    print("\nPrinting each laptop record")
    for row in records:
        print("Id = ", row[0], )
        print("Name = ", row[1])
        print("Price  = ", row[2])
        print("Purchase date  = ", row[3], "\n")

except Error as e:
    print("Error reading data from MySQL table", e)
finally:
    if (connection.is_connected()):
        connection.close()
        cursor.close()
        print("MySQL connection is closed")

Total number of rows in Laptop is:  7

Printing each laptop record
Id =  2
Name =  Area 51M
Price  =  6999.0
Purchase date  =  2019-04-14

Id =  3
Name =  MacBook Pro
Price  =  2499.0
Purchase date  =  2019-06-20

Id =  4
Name =  HP Pavilion Power
Price  =  1999.0
Purchase date  =  2019-01-11

Id =  5
Name =  MSI WS75 9TL-496
Price  =  5799.0
Purchase date  =  2019-02-27

Id =  6
Name =  Microsoft Surface
Price  =  2330.0
Purchase date  =  2019-07-23

Id =  7
Name =  Acer Predator Triton
Price  =  2435.0
Purchase date  =  2021-02-16

Id =  10
Name =  Lenovo ThinkPad P71
Price  =  6459.0
Purchase date  =  2019-08-14

MySQL connection is closed

In [10]:
# Using Python variables as parameters in MySQL Select Query

import mysql.connector
from mysql.connector import Error

def getLaptopDetail(id):
    try:
        mySQLConnection = mysql.connector.connect(user='newuser', password='password',
                                            host='127.0.0.1',
                                          database='testdb')

        cursor = mySQLConnection.cursor(buffered=True)
        sql_select_query = """select * from laptop where id = %s"""
        cursor.execute(sql_select_query, (id,))   
        # In Python, a tuple containing a single value must include a comma. 
        # For example, ('abc') is evaluated as a scalar while ('abc',) is evaluated as a tuple.
        record = cursor.fetchall()

        for row in record:
            print("Id = ", row[0], )
            print("Name = ", row[1])
            print("Join Date = ", row[2])
            print("Salary  = ", row[3], "\n")

    except mysql.connector.Error as error:
        print("Failed to get record from MySQL table: {}".format(error))

    finally:
        if (mySQLConnection.is_connected()):
            cursor.close()
            mySQLConnection.close()
            print("MySQL connection is closed")

In [11]:
id1 = 1
id2 = 2
getLaptopDetail(id1)
getLaptopDetail(id2)

Id =  2
Name =  Area 51M
Join Date =  6999.0
Salary  =  2019-04-14

MySQL connection is closed

In [34]:
# Select limited rows from MySQL table using cursor's fetchmany 

import pandas as pd
import mysql.connector
from mysql.connector import Error

try:
    connection = mysql.connector.connect(user='newuser', password='password',
                                            host='127.0.0.1',
                                          database='testdb')

    mySql_select_Query = "select * from laptop"
    cursor = connection.cursor(buffered=True)
    cursor.execute(mySql_select_Query)
    fetching_size = 2
    records = cursor.fetchmany(fetching_size)

    print("Total number of rows is: ", cursor.rowcount)
    print("Printing ", fetching_size, " Laptop record using cursor.fetchmany")
    for row in records:
        print(row)
    
    # To get only 2 recods in dataframe
    df = pd.read_sql(mySql_select_Query, connection)
    print("\n")
    print(df.head(2))
        

except Error as e:
    print("Error while connecting to MySQL", e)
finally:
    if (connection.is_connected()):
        cursor.close()
        connection.close()
        print("connection is closed")

Total number of rows is:  7
Printing  2  Laptop record using cursor.fetchmany
(2, 'Area 51M', 6999.0, datetime.date(2019, 4, 14))
(3, 'MacBook Pro', 2499.0, datetime.date(2019, 6, 20))


   Id         Name   Price Purchase_date
0   2     Area 51M  6999.0    2019-04-14
1   3  MacBook Pro  2499.0    2019-06-20
connection is closed

In [36]:
# To fetch a single row from MySQL table using cursor.fetchone

import mysql.connector
from mysql.connector import Error

try:
    connection = mysql.connector.connect(user='newuser', password='password',
                                            host='127.0.0.1',
                                          database='testdb')

    mySql_select_Query = "select * from laptop"
    cursor = connection.cursor(buffered=True)
    cursor.execute(mySql_select_Query)
    record = cursor.fetchone()
    print(record)

except mysql.connector.Error as error:
    print("Error while connecting to MySQL", error)
finally:
    if (connection.is_connected()):
        cursor.close()
        connection.close()
        print("\n MySQL connection is closed")

(2, 'Area 51M', 6999.0, datetime.date(2019, 4, 14))

 MySQL connection is closed

In [43]:
# Program to Select MySQL tableâ€™s column value into Variable

import mysql.connector
from mysql.connector import Error

try:
    connection = mysql.connector.connect(user='newuser', password='password',
                                            host='127.0.0.1',
                                          database='testdb')

    sql_Query = "select price from laptop where id =%s"
    id = (2,)
    cursor = connection.cursor()
    cursor.execute(sql_Query, id)
    record = cursor.fetchone()

    # selecting column value into varible
    price = float(record[0])
    print("Laptop price is : ", price)

except mysql.connector.Error as error:
    print("Failed to get record from database: {}".format(error))

finally:
    if (connection.is_connected()):
        cursor.close()
        connection.close()
        print("MySQL connection is closed")

Laptop price is :  6999.0
MySQL connection is closed